In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("data_processing").getOrCreate()
df = spark.read.csv("sample_data.csv", inferSchema=True, header=True)
df.columns

['ratings', 'age', 'experience', 'family', 'mobile']

In [3]:
len(df.columns)

5

In [4]:
df.count()

33

In [5]:
print((df.count()), len(df.columns))

33 5

In [6]:
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)

In [7]:
df.show(5)

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
|      4| 37|      16.5|     4|  Apple|
|      5| 27|       9.0|     1|     MI|
+-------+---+----------+------+-------+
only showing top 5 rows

In [8]:
df.select("age", "mobile").show(5)

+---+-------+
|age| mobile|
+---+-------+
| 32|   Vivo|
| 27|  Apple|
| 22|Samsung|
| 37|  Apple|
| 27|     MI|
+---+-------+
only showing top 5 rows

In [9]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------+
|summary|           ratings|               age|        experience|            family|mobile|
+-------+------------------+------------------+------------------+------------------+------+
|  count|                33|                33|                33|                33|    33|
|   mean|3.5757575757575757|30.484848484848484|10.303030303030303|1.8181818181818181|  null|
| stddev|1.1188806636071336|  6.18527087180309| 6.770731351213326|1.8448330794164254|  null|
|    min|                 1|                22|               2.5|                 0| Apple|
|    max|                 5|                42|              23.0|                 5|  Vivo|
+-------+------------------+------------------+------------------+------------------+------+

In [10]:
df.withColumn("age_after_10_yrs",(df['age'] + 10)).show(10,False)

+-------+---+----------+------+-------+----------------+
|ratings|age|experience|family|mobile |age_after_10_yrs|
+-------+---+----------+------+-------+----------------+
|3      |32 |9.0       |3     |Vivo   |42              |
|3      |27 |13.0      |3     |Apple  |37              |
|4      |22 |2.5       |0     |Samsung|32              |
|4      |37 |16.5      |4     |Apple  |47              |
|5      |27 |9.0       |1     |MI     |37              |
|4      |27 |9.0       |0     |Oppo   |37              |
|5      |37 |23.0      |5     |Vivo   |47              |
|5      |37 |23.0      |5     |Samsung|47              |
|3      |22 |2.5       |0     |Apple  |32              |
|3      |27 |6.0       |0     |MI     |37              |
+-------+---+----------+------+-------+----------------+
only showing top 10 rows

In [11]:
df=df.withColumn("age_after_10_yrs", (df["age"] + 10))
from pyspark.sql.types import StringType,DoubleType

In [14]:
df.withColumn("age_double", df['age'].cast(DoubleType())).show(10,False)

+-------+---+----------+------+-------+----------------+----------+
|ratings|age|experience|family|mobile |age_after_10_yrs|age_double|
+-------+---+----------+------+-------+----------------+----------+
|3      |32 |9.0       |3     |Vivo   |42              |32.0      |
|3      |27 |13.0      |3     |Apple  |37              |27.0      |
|4      |22 |2.5       |0     |Samsung|32              |22.0      |
|4      |37 |16.5      |4     |Apple  |47              |37.0      |
|5      |27 |9.0       |1     |MI     |37              |27.0      |
|4      |27 |9.0       |0     |Oppo   |37              |27.0      |
|5      |37 |23.0      |5     |Vivo   |47              |37.0      |
|5      |37 |23.0      |5     |Samsung|47              |37.0      |
|3      |22 |2.5       |0     |Apple  |32              |22.0      |
|3      |27 |6.0       |0     |MI     |37              |27.0      |
+-------+---+----------+------+-------+----------------+----------+
only showing top 10 rows

In [15]:
df.filter(df['mobile'] == 'Vivo').show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      3| 32|       9.0|     3|  Vivo|              42|
|      5| 37|      23.0|     5|  Vivo|              47|
|      4| 37|       6.0|     0|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
|      4| 37|       6.0|     0|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [16]:
df.filter(df['mobile'] == 'Vivo').filter(df['experience'] > 10).show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      5| 37|      23.0|     5|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [19]:
df.filter((df['mobile'] == 'Vivo') & (df['experience'] > 10)).show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      5| 37|      23.0|     5|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [20]:
# 列中的非重复值
df.select("mobile").distinct().show()

+-------+
| mobile|
+-------+
|     MI|
|   Oppo|
|Samsung|
|   Vivo|
|  Apple|
+-------+

In [21]:
df.select("mobile").distinct().count()

5

In [22]:
# 数据分组
df.groupBy('mobile').count().show(5,False)

+-------+-----+
|mobile |count|
+-------+-----+
|MI     |8    |
|Oppo   |7    |
|Samsung|6    |
|Vivo   |5    |
|Apple  |7    |
+-------+-----+

In [23]:
df.groupBy('mobile').count().orderBy('count', ascending=False).show(5,False)

+-------+-----+
|mobile |count|
+-------+-----+
|MI     |8    |
|Oppo   |7    |
|Apple  |7    |
|Samsung|6    |
|Vivo   |5    |
+-------+-----+

In [24]:
# 平均值
df.groupBy('mobile').mean().show(5, False)

+-------+------------------+------------------+------------------+------------------+---------------------+
|mobile |avg(ratings)      |avg(age)          |avg(experience)   |avg(family)       |avg(age_after_10_yrs)|
+-------+------------------+------------------+------------------+------------------+---------------------+
|MI     |3.5               |30.125            |10.1875           |1.375             |40.125               |
|Oppo   |2.857142857142857 |28.428571428571427|10.357142857142858|1.4285714285714286|38.42857142857143    |
|Samsung|4.166666666666667 |28.666666666666668|8.666666666666666 |1.8333333333333333|38.666666666666664   |
|Vivo   |4.2               |36.0              |11.4              |1.8               |46.0                 |
|Apple  |3.4285714285714284|30.571428571428573|11.0              |2.7142857142857144|40.57142857142857    |
+-------+------------------+------------------+------------------+------------------+---------------------+

In [25]:
# sum
df.groupBy('mobile').sum().show(5,False)

+-------+------------+--------+---------------+-----------+---------------------+
|mobile |sum(ratings)|sum(age)|sum(experience)|sum(family)|sum(age_after_10_yrs)|
+-------+------------+--------+---------------+-----------+---------------------+
|MI     |28          |241     |81.5           |11         |321                  |
|Oppo   |20          |199     |72.5           |10         |269                  |
|Samsung|25          |172     |52.0           |11         |232                  |
|Vivo   |21          |180     |57.0           |9          |230                  |
|Apple  |24          |214     |77.0           |19         |284                  |
+-------+------------+--------+---------------+-----------+---------------------+

In [26]:
# 最大值
df.groupBy('mobile').max().show(5,False)

+-------+------------+--------+---------------+-----------+---------------------+
|mobile |max(ratings)|max(age)|max(experience)|max(family)|max(age_after_10_yrs)|
+-------+------------+--------+---------------+-----------+---------------------+
|MI     |5           |42      |23.0           |5          |52                   |
|Oppo   |4           |42      |23.0           |2          |52                   |
|Samsung|5           |37      |23.0           |5          |47                   |
|Vivo   |5           |37      |23.0           |5          |47                   |
|Apple  |4           |37      |16.5           |5          |47                   |
+-------+------------+--------+---------------+-----------+---------------------+

In [27]:
# 最小值
df.groupBy('mobile').min().show(5,False)

+-------+------------+--------+---------------+-----------+---------------------+
|mobile |min(ratings)|min(age)|min(experience)|min(family)|min(age_after_10_yrs)|
+-------+------------+--------+---------------+-----------+---------------------+
|MI     |1           |27      |2.5            |0          |37                   |
|Oppo   |2           |22      |6.0            |0          |32                   |
|Samsung|2           |22      |2.5            |0          |32                   |
|Vivo   |3           |32      |6.0            |0          |42                   |
|Apple  |3           |22      |2.5            |0          |32                   |
+-------+------------+--------+---------------+-----------+---------------------+

In [28]:
df.groupBy('mobile').agg({'experience':'sum'}).show(5,False)

+-------+---------------+
|mobile |sum(experience)|
+-------+---------------+
|MI     |81.5           |
|Oppo   |72.5           |
|Samsung|52.0           |
|Vivo   |57.0           |
|Apple  |77.0           |
+-------+---------------+

In [29]:
# 用户自定义UDF
# pyspark提供了两种类型的UDF：Conventional UDF和 Pandas UDF
from pyspark.sql.functions import udf
def price_range(brand):
    if brand in ['Samsung', 'Apple']:
        return 'High Price'
    elif brand == 'MI':
        return 'Mid Price'
    else:
        return 'Low Price'

brand_udf = udf(price_range, StringType())
# 要将udf(brand_utf) 应用到DataFrame的Mobile列，并且创建一个具有新值的新列(price_range)
df.withColumn('price_range', brand_udf(df['mobile'])).show(10,False)

+-------+---+----------+------+-------+----------------+-----------+
|ratings|age|experience|family|mobile |age_after_10_yrs|price_range|
+-------+---+----------+------+-------+----------------+-----------+
|3      |32 |9.0       |3     |Vivo   |42              |Low Price  |
|3      |27 |13.0      |3     |Apple  |37              |High Price |
|4      |22 |2.5       |0     |Samsung|32              |High Price |
|4      |37 |16.5      |4     |Apple  |47              |High Price |
|5      |27 |9.0       |1     |MI     |37              |Mid Price  |
|4      |27 |9.0       |0     |Oppo   |37              |Low Price  |
|5      |37 |23.0      |5     |Vivo   |47              |Low Price  |
|5      |37 |23.0      |5     |Samsung|47              |High Price |
|3      |22 |2.5       |0     |Apple  |32              |High Price |
|3      |27 |6.0       |0     |MI     |37              |Mid Price  |
+-------+---+----------+------+-------+----------------+-----------+
only showing top 10 rows

In [30]:
# 使用Lambda函数
age_udf = udf(lambda age: "young" if age <=30 else "senior", StringType())
df.withColumn("age_group", age_udf(df.age)).show(10, False)

+-------+---+----------+------+-------+----------------+---------+
|ratings|age|experience|family|mobile |age_after_10_yrs|age_group|
+-------+---+----------+------+-------+----------------+---------+
|3      |32 |9.0       |3     |Vivo   |42              |senior   |
|3      |27 |13.0      |3     |Apple  |37              |young    |
|4      |22 |2.5       |0     |Samsung|32              |young    |
|4      |37 |16.5      |4     |Apple  |47              |senior   |
|5      |27 |9.0       |1     |MI     |37              |young    |
|4      |27 |9.0       |0     |Oppo   |37              |young    |
|5      |37 |23.0      |5     |Vivo   |47              |senior   |
|5      |37 |23.0      |5     |Samsung|47              |senior   |
|3      |22 |2.5       |0     |Apple  |32              |young    |
|3      |27 |6.0       |0     |MI     |37              |young    |
+-------+---+----------+------+-------+----------------+---------+
only showing top 10 rows

In [36]:
# Pandas UDF(向量化的UDF)
# 支持两种类型：Scalar 和 GroupedMap
from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import IntegerType
def remaining_yrs(age):
    yrs_left = (100 - age)
    return yrs_left

In [41]:
length_udf = pandas_udf(remaining_yrs, IntegerType())
df.withColumn('yrs_left', length_udf(df['age'])).show(10,False)

+-------+---+----------+------+-------+----------------+--------+
|ratings|age|experience|family|mobile |age_after_10_yrs|yrs_left|
+-------+---+----------+------+-------+----------------+--------+
|3      |32 |9.0       |3     |Vivo   |42              |68      |
|3      |27 |13.0      |3     |Apple  |37              |73      |
|4      |22 |2.5       |0     |Samsung|32              |78      |
|4      |37 |16.5      |4     |Apple  |47              |63      |
|5      |27 |9.0       |1     |MI     |37              |73      |
|4      |27 |9.0       |0     |Oppo   |37              |73      |
|5      |37 |23.0      |5     |Vivo   |47              |63      |
|5      |37 |23.0      |5     |Samsung|47              |63      |
|3      |22 |2.5       |0     |Apple  |32              |78      |
|3      |27 |6.0       |0     |MI     |37              |73      |
+-------+---+----------+------+-------+----------------+--------+
only showing top 10 rows

In [42]:
# Pandas UDF(多列)
def prod(rating, exp):
    x = rating * exp
    return x

In [43]:
prod_udf = pandas_udf(prod, DoubleType())
df.withColumn("product", prod_udf(df['ratings'], df['experience'])).show(10,False)

+-------+---+----------+------+-------+----------------+-------+
|ratings|age|experience|family|mobile |age_after_10_yrs|product|
+-------+---+----------+------+-------+----------------+-------+
|3      |32 |9.0       |3     |Vivo   |42              |27.0   |
|3      |27 |13.0      |3     |Apple  |37              |39.0   |
|4      |22 |2.5       |0     |Samsung|32              |10.0   |
|4      |37 |16.5      |4     |Apple  |47              |66.0   |
|5      |27 |9.0       |1     |MI     |37              |45.0   |
|4      |27 |9.0       |0     |Oppo   |37              |36.0   |
|5      |37 |23.0      |5     |Vivo   |47              |115.0  |
|5      |37 |23.0      |5     |Samsung|47              |115.0  |
|3      |22 |2.5       |0     |Apple  |32              |7.5    |
|3      |27 |6.0       |0     |MI     |37              |18.0   |
+-------+---+----------+------+-------+----------------+-------+
only showing top 10 rows

In [44]:
# 去掉重复值
df.count()

33

In [45]:
df = df.dropDuplicates()
df.count()

26

In [46]:
# 删除列
df_new = df.drop('mobile')
df_new.show()

+-------+---+----------+------+----------------+
|ratings|age|experience|family|age_after_10_yrs|
+-------+---+----------+------+----------------+
|      4| 37|      16.5|     4|              47|
|      3| 42|      23.0|     5|              52|
|      4| 37|       6.0|     0|              47|
|      5| 37|      23.0|     5|              47|
|      2| 27|       9.0|     2|              37|
|      4| 22|       2.5|     0|              32|
|      5| 27|       6.0|     0|              37|
|      4| 27|       9.0|     0|              37|
|      3| 22|       2.5|     0|              32|
|      2| 27|       6.0|     2|              37|
|      5| 27|       6.0|     2|              37|
|      3| 27|      13.0|     3|              37|
|      4| 37|       9.0|     2|              47|
|      4| 22|       6.0|     1|              32|
|      5| 22|       2.5|     0|              32|
|      4| 27|       6.0|     1|              37|
|      3| 32|       9.0|     3|              42|
|      5| 27|       9.0|     1|              37|
|      1| 37|      23.0|     5|              47|
|      2| 42|      23.0|     2|              52|
+-------+---+----------+------+----------------+
only showing top 20 rows

In [48]:
# 写入数据，CSV
write_uri = '/Users/zhurunlong/Documents/spark-2.4.8-bin-hadoop2.7/df_csv'

In [49]:
df.coalesce(1).write.format("csv").option("header", "true").save(write_uri)

In [50]:
# 嵌套结构，
parquet_uri='/Users/zhurunlong/Documents/spark-2.4.8-bin-hadoop2.7/df_parquet'
df.write.format('parquet').save(parquet_uri)